<h1> Facebook log-in box:</h1>
<div class="wholebox">
  <form>
    <div class="emailform">
      <p class="whitetext">Email or Phone</p>
      <input type="text" name="emailphone" class="inputfield"><br>
      <input type="checkbox" name="keeploggedin" value="true">Keep me logged in
    </div>
    
    <div class="password">
      <p class="whitetext">Password</p>
      <input type="text" name="password" class="inputfield"><br>
      <a href="" class="passwordtext">Forgot your password?</a>
    </div>
    
    <div class="submit">
      <input type="submit" class="loginbutton" value="Log In">
    </div>
  </form>
</div>

<h1>NY Times box:</h1>
<div class="container">
  <div class="columnside">
    <div class="photo">
      <img src="http://static01.nyt.com/images/2015/03/07/fashion/fashion07junya-watanabe/fashion07junya-watanabe-mediumThreeByTwo210-v3.jpg">
    </div>
    <div class="text">
      <p><strong>At Paris Fashion Week, Junya Watanabe’s Art</strong></p>
      <p class="margin">Origami may be a paper art, but Junya Watanabe, the Japanese designer, transformed it into something else entirely.</p>
    </div>
  </div>
    
  <div class="columnmiddle">
    <div class="photo">
      <img src="http://static01.nyt.com/images/2015/03/08/arts/08VIDEO-SEXISM1/08VIDEO-SEXISM1-mediumThreeByTwo210-v2.jpg">
    </div>
    <div class="text">
      <p><strong>Female Video Gamers Fight Sexism</strong></p>
      <p class="margin">Shannon Sun-Higginson’s documentary, “GTFO,” looks at the harassment that female players and designers face in the video game industry.</p>
    </div>
  </div>
  
  <div class="columnside">
    <div class="photo">
      <img src="http://static01.nyt.com/images/2015/03/08/travel/08METAPONTO/08METAPONTO-mediumThreeByTwo210.jpg">
    </div>
    <div class="text">
      <p><strong>Discovering the Ruins of Italy’s Ionian Coast</strong></p>
      <p class="margin">Tracing ancestral connections in the Basilicata region, where Greeks built temples, monks painted in caves and Francis Ford Coppola opened a hotel.</p>
    </div>
  </div>
</div>