<h1> Facebook log-in box:</h1>
<div class="wholebox">
  <form>
    <div class="emailform">
      <p class="whitetext">Email or Phone</p>
      <input type="text" name="emailphone" class="inputfield"><br>
      <input type="checkbox" name="keeploggedin" value="true">Keep me logged in
    </div>
    
    <div class="password">
      <p class="whitetext">Password</p>
      <input type="text" name="password" class="inputfield"><br>
      <a href="" class="passwordtext">Forgot your password?</a>
    </div>
    
    <div class="submit">
      <input type="submit" class="loginbutton" value="Log In">
    </div>
  </form>
</div>



</form> 